/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100vh;
    background-image: linear-gradient(
        to bottom,
        #32a093 0%,
        #32a093 15%,
        #dce0dd 15%,
        #dce0dd 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
}

/* UTILITIES */
.df {
    display: flex;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #bababa;
}

.user img {
    width: 50px;
    margin: 15px;
    border-radius: 50%;
}

.last-access {
    font-size: 12px;
    color: #5e7f91;
    text-decoration: underline;
}

.showed {
    background: #e0e0e0;
}

/* LAYOUT */
.container {
    display: flex;
    width: 80%;
    min-width: 900px;
    height: 95%;
    background: #fff;
}

/* ASIDE */
.side {
    flex-basis: 35%;
    background: #fff;
    overflow-y: auto;
}

/* side header */
.side-header {
    height: 60px;
    justify-content: space-between;
    align-items: center;
    background: #ededed;
}

.side-header .user {
    align-items: center;
}

.side-header .user img {
    width: 40px;
}

.side-header .icons ul li {
    font-size: 20px;
    padding-right: 15px;
}

/* side notify */
.side-notify {
    background: #a2dffe;
    padding: 15px;
}

.notification {
    align-items: center;
}

.notification .bell {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.notification .bell i {
    font-size: 20px;
    color: #a2dffe;
}

.notification .notify-text a {
    color: #5e7f91;
    text-decoration: underline;
}

/* side search */
.side-search {
    height: 50px;
    padding: 10px;
    background: #ededed;
}

.side-search a {
    height: 30px;
    padding: 5px 20px;
    background: #fff;
}

.side-search input {
    flex-grow: 1;
    padding: 0 5px;
    border: 1px solid #eee;
}

/* side contacts */
.side .contacts li {
    align-items: center;
    border-bottom: 1px solid #eee;
}

.side .contacts li:last-child {
    border-bottom: 0;
}

.side .contacts li:hover {
    background: #ededed;
    cursor: pointer;
}

/* MAIN CONTENT */
.content {
    flex-basis: 65%;
    background-image: url('../img/mine.jpg');
    flex-direction: column;
}

.content-header,
.content-footer {
    background: #ededed;
}

/* CONTENT HEADER */
.content-header {
    height: 60px;
    justify-content: space-between;
}

.header-left {
    align-items: center;
}

.header-right ul {
    align-items: center;
}

.header-right ul li {
    font-size: 20px;
    padding-right: 15px;
}

.content-header .user img {
    width: 40px;
}

/* CONTENT MAIN */
.content-main {
    flex-grow: 1;
    padding: 20px;
    overflow-y: auto;
}

/* message */
.message {
    position: relative;
    width: 35%;
    margin: 10px 0;
    border-radius: 10px;
}

.message.sent {
    background: #dcf9be;
    align-self: flex-end;
}

.message.received {
    background: #fff;
}

.message .text {
    padding: 15px 15px 20px;
    word-break: break-all;
}

.message .info {
    position: absolute;
    bottom: 10%;
    right: 2%;
    font-size: 10px;
    color: #bbb;
    text-align: right;
}

/* main chat */
.main-chat .chat-container {
    flex-direction: column;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

/* CONTENT FOOTER */
.content-footer {
    height: 60px;
    align-items: center;
    background: #f3f0ec;
}

.content-footer i {
    padding: 25px;
    font-size: 25px;
    color: #5e7f91;
}

.content-footer input {
    flex-grow: 1;
    height: 40px;
    padding-left: 10px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.content-footer input::placeholder {
    color: rgba(186, 186, 186, .7);
}