<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- ICONS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>
    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <!-- STYLE -->
    <link rel="stylesheet" href="./css/style.css">
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>
<body>
    
    <div id="app" class="container">
        <!-- sidebar -->
        <aside class="side">
            <!-- sidebar header -->
            <div class="side-header df">
                <div class="user df">
                    <img src="./img/avatar_io.jpg" alt="Avatar_io">
                    Nome Utente
                </div>
                <!-- sidebar icons -->
                <div class="icons">
                    <ul class="df">
                        <li><a href="#"><i class="fas fa-circle-notch"></i></a></li>
                        <li><a href="#"><i class="fas fa-comment-alt"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- sidebar notify -->
            <div class="side-notify">
                <div class="notification df">
                    <div class="bell">
                        <i class="fas fa-bell-slash"></i>
                    </div>
                    <div class="notify-text">
                        <div>Ricevi notifiche di nuovi messaggi</div>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>
            </div>
            <!-- sidebar search -->
            <div class="side-search df">
                <a href="#">
                    <i class="fas fa-search"></i>
                </a>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
            </div>
            <!-- sidevar contacts -->
            <div class="contacts">
                <ul>
                    <li 
                    v-for="(contact, index) in contacts" 
                    :key="index + '-' + contact.name"
                    @click="showChat(index)"
                    :class="{showed : index == indexChat}"
                    >
                        <div class="user df">
                            <img 
                            :src="'./img/avatar' + contact.avatar + '.jpg'"
                            :alt="contact.name + ' avatar'">
                            {{ contact.name }}
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <main class="content df">
            <section class="content-header df">
                <div class="header-left df">
                    <div class="user df">
                        <img :src="'./img/avatar' + contacts[indexChat].avatar + '.jpg'"
                        :alt="contacts[indexChat].name + ' avatar'">
                    </div>
                    <div class="info">
                        <div class="username">{{contacts[indexChat].name}}</div>
                        <div class="last-access">Ultimo accesso oggi alle 10.35</div>
                    </div>
                </div>
                <div class="header-right df">
                    <ul class="df">
                        <li><a href="#"><i class="fas fa-search"></i></a></li>
                        <li><a href="#"><i class="fas fa-paperclip"></i></a></li>
                        <li><a href="#"><i class="fas fa-ellipsis-v"></i></a></li>
                    </ul>
                </div>
            </section>
            <section class="content-main">
                <!-- Main Chat -->
                <div class="main-chat">
                    <div class="chat-container df">
                        <div 
                        :class="'message df ' + message.status"
                        v-for="message in contacts[indexChat].messages"
                        >
                            <div class="text">{{message.message}}</div>
                            <div class="info">{{message.date}}</div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content-footer df">
                <a href="#"><i><i class="far fa-smile"></i></i></a>
                <input 
                @keyup.enter="sendMessage(indexChat)"
                v-model.trim="newMessages"
                type="text" 
                placeholder="Scrivi un messaggio">
                <a href="#"><i><i class="fas fa-microphone"></i></i></a>
            </section>
        </main>
    </div>

    <!-- JS -->
    <!-- DAYJS -->
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1.10.4/dayjs.min.js"></script>
    <!-- MAIN SCRIPT -->
    <script src="./js/script.js"></script>
</body>
</html>